%section.content
  %h1
    Write/Speak/Code 2016 Speakers

  %nav.sub
    %ul.sub__list
      %li.sub__item
        = link_to  'Keynotes', '#keynotes'
      %li.sub__item
        = link_to  'Session Speakers', '#speakers'

  %h2#keynotes
    Keynotes
  .speakers
    =render partial: 'person', collection: @keynotes

  %h2#speakers
    Speakers
  .speakers
    =render partial: 'person', collection: @people
