%div{:style => "width:195px; text-align:center;"}
  %iframe{:allowtransparency => "true", :frameborder => "0", :height => "282", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://www.eventbrite.com/countdown-widget?eid=21539808146", :width => "195"}
  %div{:style => "font-family: Helvetica, Arial; font-size: 10px; padding: 5px 0 5px; margin: 2px; width: 195px; text-align:center;"}
