%section.content
  %h2
    More about our days
  .day_summaries
    .day
      .day__title
        Day 1
      .day__icon
        %i.fa.fa-pencil
      .day__description
        %ul
          %li
            Get over your Imposter Syndrome and learn to
            %b Own Your Expertise
          %li
            Write a draft of a
            %b blog post
          %li
            Generate a list of
            %b 20 topics
            you can talk or speak about

        %a.button{ href: "/write"}
          Write Day
          %i.fa.fa-angle-double-right
    .day
      .day__title
        Day 2
      .day__icon
        %i.fa.fa-microphone
      .day__description
        %ul
          %li
            Write a
            %b talk proposal
            \&amp; receive feedback from conference organizers
          %li
            Create
            %b slides
            for a talk
          %li
            Give a
            %b tech-related talk
            to supportive peers &amp; mentors

        %a.button{ href: "/speak"}
          Speak Day
          %i.fa.fa-angle-double-right
    .day
      .day__title
        Day 3
      .day__icon
        %i.fa.fa-code
      .day__description
        %ul
          %li
            Learn the ins &amp; outs of
            %b git, Github, and open source
          %li
            Publish an open source project
          %li
            Contribute to an
            %b existing open source project

        %a.button{ href: "/write"}
          Write Day
          %i.fa.fa-angle-double-right
    .day.day--4
      .day__title
        Day 4
      .day__icon
        %i.fa.fa-life-ring
      .day__description
        %ul
          %li
            Learn the ins and outs about
            %b Salary Negotiation.
          %li
            Hear one woman's story about
            %b having a baby
            and continuing development.
          %li
            Help yourself by understanding a better way to hold your posture
            while working.
          %li
            Attend a workshop on
            %b Emotional Labor
            and how to handle that in your career.

        %a.button{ href: "/write"}
          Self-Care &amp; Career Day
          %i.fa.fa-angle-double-right
