%footer><
  .coder-definition
    %p.coder-definition__copy
      We define "coders" as anyone who has written a line of code (HTML,
      CSS, JavaScript, Ruby, Python, Java, whatever) and can explain what it
      does. Designers, E-book publishers, and beginners as well as software
      engineers with 20 years experience have enjoyed our workshops and been
      inspired by each other.

  .footer
    %ul.footer__list
      %li.footer__item
        %a.footer__link{ href: "http://writespeakcode.com/about" }
          About
      %li.footer__item
        %a.footer__link{ href: "http://writespeakcode.com/about/organizers" }
          Organizers
      %li.footer__item
        %a.footer__link{ href: "http://writespeakcode.com/about/code-of-conduct" }
          Code of Conduct
      %li.footer__item
        %a.footer__link{ href: "http://writespeakcode.com/" }
          &copy; Write/Speak/Code 2016
