%nav.nav
  %a.nav__logo{ href: "/" }
    = image_tag "conf-2016-logo-long.svg"
  %a.nav__hamburger#js-mobile-menu{ href: "#" }
    %i.fa.fa-bars.fa-2
  %ul.nav__list#js-navigation-menu
    %li.nav__item
      %a.nav__link{ href: "/pages/schedule" }
        Schedule
    %li.nav__item
      %a.nav__link{ href: "/talks" }
        Talks
    %li.nav__item
      %a.nav__link{ href: "/speakers" }
        Speakers
    %li.nav__item
      %a.nav__link{ href: "/sponsors" }
        Sponsors
    %li.nav__item
      %a.nav__link{ href: "/tickets" }
        Tickets
    %li.nav__item
      %a.nav__link{ href: "/childcare" }
        Childcare &amp; A11y
    %li.nav__item
      %a.nav__link{ href: "/faq" }
        FAQ
    %li.nav__item
      %a.nav__link{ href: "http://blog.writespeakcode.com" }
        Blog
