%section.content
  %h1
    Write/Speak/Code 2016 Talks
  %a{ href: "#keynotes" } Keynotes
  |
  %a{ href: "#write" } Wednesday 6/15
  |
  %a{ href: "#speak" } Thursday 6/16
  |
  %a{ href: "#code" } Friday 6/17
  |
  %a{ href: "#career" } Saturday 6/18

  %h2#keynotes
    Keynotes
  .speakers
    =render partial: 'talk', collection: @keynotes

  %h2#write
    Write | Wednesday June 15
  .speakers
    = render partial: 'talk', collection: @write

  %h2#speak
    Speak | Thursday June 16
  .speakers
    = render partial: 'talk', collection: @speak

  %h2#code
    Code | Friday June 17
  .speakers
    = render partial: 'talk', collection: @code

  %h2#career
    Career | Saturday June 18
  .speakers
    = render partial: 'talk', collection: @career