%section.content
  %h1
    Write/Speak/Code 2016 Talks
  %a{ href: "#keynotes" } Keynotes
  |
  %a{ href: "#both" } Conference Sessions
  |
  %a{ href: "#first_year" } First Year Track
  |
  %a{ href: "#alumna" } Alumna Track

  %h2#keynotes
    Keynotes
  .speakers
    =render partial: 'talk', collection: @keynotes

  %h2#both
    Conference Sessions
  .speakers
    = render partial: 'talk', collection: @both_talks

  %h2#first_year
    1st Year Track
  .speakers
    = render partial: 'talk', collection: @first_year_talks

  %h2#alumna
    Alumni Track
  .speakers
    = render partial: 'talk', collection: @alumna_talks