// Typography
$sans-serif: $helvetica;
$serif: $georgia;
$base-font-family: $serif;
$header-font-family: "proxima-nova-extra-condensed";

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 4;
$h2-font-size: $base-font-size * 2.5;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

$sm-h1-font-size: $base-font-size * 2.25;
$sm-h2-font-size: $base-font-size * 2;
$sm-h3-font-size: $base-font-size * 1.75;
$sm-h4-font-size: $base-font-size * 1.5;
$sm-h5-font-size: $base-font-size * 1.25;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;


//Brand colors
$purple: #352063;
$yellow: #EAAC47;
$magenta: #862196;
$pink: #c191c9;
$brown: #705e41;

$brand-primary: $purple;
$brand-primary-variation: darken($purple, 10);
$brand-secondary: $yellow;
$brand-accent: $magenta;
$brand-accent-variation: $pink;

// Colors
$dark-gray: #322D2E;
$medium-gray: lighten($dark-gray, 15);
$light-gray: lighten($dark-gray, 40);

$white: #fff;

$light-primary: lighten($brand-primary, 40);
$light-secondary: lighten($yellow, 20);
$light-accent: lighten($brand-accent-variation, 20);


// Background Color
$base-background-color: $white;

//Navigation
$navigation-background: desaturate($brown, 30%);
$navigation-color: $white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $brand-accent;

// Link Colors
$base-link-color: $brand-primary;
$hover-link-color:  $brand-accent;
$base-button-color: $medium-gray;
$hover-button-color: $dark-gray;

// Flash Colors
$alert-color: $light-accent;
$error-color: $brand-accent;
$notice-color:  $light-secondary;
$success-color: $light-primary;

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$section-border: 3px dashed $brand-accent-variation;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
