%section.content
  %article
    %h1
      Empowering women developers to become thought leaders, conference speakers, and open source contributors.

    %p
      Write/Speak/Code, an international organization dedicated to providing
      skill-building and inspiration for women technologists, will bring its
      annual conference to Chicago, June 15-18. Tickets, including student and
      low-income options, are available.

    %p
      This event is open to all who identify as women. Childcare and Ramadan
      accommodations will be provided.

    %p
      By the end of this intensive 4-day conference, each attendee will
      possess and polish the skills to fully own their expertise as thought
      leaders, conference speakers, and open source contributors.

    %p
      This year's keynote speakers include: Trans*Code's Naomi Ceder, Annyce
      Davis (Google Developer Expert), Julianna Rusakiewicz, Alex Qin, Fureigh
      (Code for America Fellow), and Open Source for Women's Coraline Ada
      Ehmke.

    %p
      The curriculum covers topics from giving and receiving feedback
      to self-care and connects each attendee to mentors in the areas of
      writing, speaking, and several languages of code.
