%section.content
  %article
    = render "/partials/eventbrite_countdown2016"

    %h1
      Empowering women developers to become thought leaders, conference speakers, and open source contributors.

    %p
      Write/Speak/Code, an international organization dedicated to providing
      skill-building and inspiration for women technologists, will bring its
      annual conference to Chicago, June 15-18. Tickets, including student and
      low-income options, are available.

    %p
      This event is open to all who identify as women. Childcare and Ramadan
      accommodations will be provided.

    %p
      By the end of this intensive 4-day conference, each attendee will
      possess and polish the skills to fully own their expertise as thought
      leaders, conference speakers, and open source contributors.

    %p
      This year's keynote speakers include: Trans*Code's Naomi Ceder, Annyce
      Davis (Google Developer Expert), Julianna Rusakiewicz, Alex Qin, Fureigh
      (Code for America Fellow), and Open Source for Women's Coraline Ada
      Ehmke.

    %p
      The curriculum covers topics from giving and receiving feedback
      to self-care and connects each attendee to mentors in the areas of
      writing, speaking, and several languages of code.

%section.content
  %a.button{ href: "tickets.html" }
    Buy Tickets

= render "partials/day_summaries"

%section.content
  %h2
    About our Tracks

  %p
    Our "first-year" track is the same as we have done the past two years. We
    offer the day of hands-on training, workshops, and keynotes. This track is
    meant for people looking to get their feet wet in more advanced topics
    outside of your day job and help you learn about how to get more
    visibility.

  %p
    After assessing a lot of feedback forour past attendees and Meetup members,
    our Alumna track is designed for women who may or may not have already
    attended our conference. Most importantly, we want to be able to offer mor
    e content to our attendees who already have a grasp of their expertise and
    are looking for more ways to influence their careers and community.

  %p
    Some topics of our alumna track will cover include leadership, self-care,
    self-promotion, and advanced technical topics. On the second day we’ll
    dive into brainstorming, pitching, and planning a project of your choice —
    either independently or with a small group of other women in a
    collaboration. By the end of the third day, you will give a 3 minute pitch
    to talk about your project. Throughout the 3-day conference, you’ll hear
    from industry-leading speakers who will help you form your own ideas to
    help you reach your entrepreneurial and development goals.

%section.content
  %a.button{ href: "tickets.html" }
    Buy Tickets
