---
title: Call for Proposals at Write/Speak/Code International Conference
sub_page: true
---

%h1 Call for Proposals

%p.centered
  %strong The call for proposals is now closed.
  
%div.inner-content
  %p
    Write/Speak/Code aims to empower women software developers become thought
    leaders, conference speakers, and open source contributors in their field of expertise.

  %p
    If you are passionate to speak to women about your experiences as a thought leader
    in any or all of these topics, please send us your talk! We ask that the talk be
    language agnostic and be 45 minutes long.

  %p
    We have many options for participating in the conference, beyond presenting a keynote!
    = link_to 'Nominate', 'nominate.html'
    yourself or someone else to be a mentor, speak on a panel or give a lightning talk.

  %p As a speaker you will get:
  %ul.bulleted
    %li A ticket to the conference
    %li Speaker housing
    %li $500 honorarium

  %p
    If you need travel assistance, it may be available upon request.
    Please provide your travel needs in the travel section of the CFP application.

  %h3 Topics
  %p
    Not sure what you would like to speak on? We’ve got plenty of ideas!
    Here are a few to get you started:

  %p
    %ul.bulleted
      %li Balancing your career with other obligations in your life, such as motherhood
      %li Diversity initiatives you’ve started in your place of work or community
      %li How you became a thought leader in your field of expertise

  %p
    %strong You are welcome to propose more than one submission.

  %h3 Speaker Support
  %p
    Still have questions? Watch our
    %a{ href: 'https://www.youtube.com/watch?v=UetOLQj9r8o'}
      Q&A webinar
    on the CFP.

  %p
    Want help with your proposal? Email us at
    %a{ href: 'mailto:2016speakers@writespeakcode.com' }
      2016speakers@writespeakcode.com
    , we’d love to help you develop your idea.

  %h3 Deadline
  %p
    Submissions close on Saturday April 9th, 2016.

  -#%p.centered
  -#  %a.button.primary{ href: 'https://docs.google.com/forms/d/1EJZRwAsJ744uEWv1hBY9PU4VDzi9ADGdKHZh2s8AQYo', target: '_blank' }
  -#    Submit a Proposal
