%section.content
  %article

  %h1
    Childcare &amp; Accessibility

  %h2
    Childcare &amp; Eldercare

  %p
    Write/Speak/Code is proud to offer childcare and eldercare for our events,
    including the seminal 4-day International Conference. Childcare will be
    available for the entire duration of the conference (4 days). In addition
    to noting childcare on your registration when you go to purchase your
    ticket, please
    %a{ href: 'mailto:info@writespeakcode.com' }
      email info@writespeakcode.com
    with your child's age, dietary restrictions, and play/nap needs.

  %p
    Childcare will be provided by
    =link_to "Sitters Studio", "http://www.sittersstudio.com/"
    and the caretaker and your
    child(ren) will remain on the premises unless specifically instructed
    otherwise.

  %h2
    Mother's Lactation Room

  %p
    We will once again be offering a private Lactation Room for all attendees
    who may enjoy the comfort of sitting in quiet and privacy during the
    conference.

  %p
    Often attendees who are in need of the Lactation Room want to know when
    they can schedule its use. Please take a look at our detailed schedule
    and plan around the activities and talks that you are eager to attend
    and be a part of.

  %h2 Accessibility

  %p
    Write/Speak/Code 2016 will beheld in a wheelchair accessible venue.

  %p
    ASL interpreters will be made available as needed. In addition to noting
    your needs on your registration, please also email
    %a{ href: 'mailto:info@writespeakcode.com' }
      info@writespeakcode.com
    so that we can ensure that we meet your needs.

  %h2
    Ramadan Accomadations

  %p
    Because the month of Ramadan falls during our conference, we have worked
    with our organizers and venue to provide a quiet space for all attendees
    who may be participating in their fast. While any attendee will have access
    to the Quiet Room, we ask that no food or beverages be taken in so that
    those observing Ramadan will not feel conflicted.

  %p
    Want to learn more about Ramadan and the personal significance of the
    holiday to one of our own organizers? Check out our blog post written by
    Dalal Al Rayes and how we're accomodating observing attendees.
