%section.content
  %article
    %h1
      Code to change the world!

    %p
      %em Code Day
      will turn you into an Open Source contributor! From git to licensing,
      you'll learn all about open source logistics and culture. Learn where to
      find projects and how to determine which projects are best for you. Get
      the low-down on how best to contribute and engage with open source
      maintainers. Publish and contribute to open source by the end of the day!
    %p
      %b Publish
      a code project or a basic markdown page.
    %p
      %b Contribute
      code, docs, tests, video, blogs, or promotion to open source projects.

    %h2
      Day 3 — Friday, June 17, 2016
    .day_summaries.day_summaries--page
      .day
        .day__title
          Learn
        .day__icon
          %i.fa.fa-book
        .day__description
          %ul
            %li
              How to
              %b find and choose projects.
            %li
              What makes a
              %b helpful issue, bug report, and documentation.
          %a.button{ href: "/schedule"}
            Schedule
            %i.fa.fa-angle-double-right
      .day
        .day__title
          Do
        .day__icon
          %i.fa.fa-list-ul
        .day__description
          %ul
            %li
              %b Share your code &amp; your project
              \&mdash; in real life and digitally.
            %li
              %b Contribute code
              for a feature or tests to an open source project.
          %a.button.inverted.notice.skinny{ href: "/speakers" }
            Speakers
            %i.fa.fa-angle-double-right
    %h2
      Solidify your expertise, Communicate effectively, Share knowledge

    %p
      Each day will be tailored to the experience and expertise of each attendee
      and will include:
    %ul
      %li
        Giving and receiving feedback from peers and experts
      %li
        Talks or panels from experienced women developers
      %li
        Group and individual workshops
      %li
        Creation of a usable prototype for the day's milestones
      %li
        A concrete, next-steps action plan

