---
title: Frequently Asked Questions
sub_page: true
---

%h1 General FAQ

%div.inner-content
  %h3 What airport should I fly into?

  %p
    Both O’Hare and Midway are accessible by public transportation (CTA - Chicago Transit Authority);
    the Blue line serves O’Hare and the Orange line serves Midway.
    While the Blue line runs all hours the Orange line only runs until 1:00am.
    Either airport will allow you to easily get to the venue downtown.

  %h3 Are there block rates for hotels?

  %p
    We have a room block at
    %a{ href: 'http://www.congressplazahotel.com'}
      The Congress Plaza Hotel
    with a nightly rate of $180. When you make the reservation,
    let them know that you are using the Write/Speak/Code room block. This
    special rate is only for a limited number of rooms
    and must be booked before May 15th.

  %p
    %strong Congress Plaza Hotel<br/>
    520 South Michigan Avenue<br/>
    Chicago, IL 60605<br/>
    800-635-1666<br/>
    312-427-3800

  %p
    If you run into trouble using the room rate, connect to extension 5025 or 5026
    to speak with someone who can help.

%h1{id:'speakers'} Speaker FAQ

%div.inner-content

  %h3 What day should I plan to arrive?

  %p
    Speakers have a speaker dinner on Tuesday, June 14th. We would advise you arrive early
    enough on Tuesday if you plan to go to dinner. As a speaker you are expected to be present
    for all three days of the conference. This year W/S/C has a new day - Self Care - on
    Saturday June 18th that we would love for you to participate in as well.
