%section.content
  %article
    %h1
      Speak to change the world!
    %p
      %em Speak Day
      will turn you into a conference speaker! From choosing a topic and
      creating slides to writing a proposal and public speaking, you will walk
      through all the steps necessary to become a technical speaker. Feedback
      on your proposal, presentation, and speaking from experienced women
      technical speakers and conference organizers will put you well on your
      way to becoming a confident, powerful speaker.
    %p
      %b Speak
      publicly about yourself and your knowledge.
      %br
      %b Create
      a talk proposal and slides for a presentation.
    %h2
      Day 2 — Thursday, June 16, 2016
    .day_summaries.day_summaries--page
      .day
        .day__title
          Learn
        .day__icon
          %i.fa.fa-book
        .day__description
          %ul
            %li
              What
              %b conference organizers look for
              when selecting speakers
            %li
              How to find the perfect
              %b speaking opportunities
              for you
            %li
              What makes some presentations
              %b more memorable
              than others
            %li
              Receive individualed
              %b tips &amp; tricks from experienced women speakers
          %a.button{ href: "/schedule"}
            Schedule
            %i.fa.fa-angle-double-right
      .day
        .day__title
          Do
        .day__icon
          %i.fa.fa-list-ul
        .day__description
          %ul
            %li
              Write a
              %b talk proposal
              &amp; get feedback from women conference
              organizers
            %li
              Give feedback on proposals, slides, and speaking to peers
            %li
              Prepare
              %b slides
              for a technical talk
            %li
              %b Give a presentation
              individually and/or with a group
          %a.button.inverted.notice.skinny{ href: "/speakers" }
            Speakers
            %i.fa.fa-angle-double-right
    %h2
      Solidify your expertise, Communicate effectively, Share knowledge

    %p
      Each day will be tailored to the experience and expertise of each attendee
      and will include:
    %ul
      %li
        Giving and receiving feedback from peers and experts
      %li
        Talks or panels from experienced women developers
      %li
        Group and individual workshops
      %li
        Creation of a usable prototype for the day's milestones
      %li
        A concrete, next-steps action plan

