%section.content
  %article
    %h1
      Recruit, Inspire, Engage

    %h2
      About Write/Speak/Code 2016

    %p
      Write/Speak/Code, an international organization dedicated to providing skill-building and inspiration for women technologists, will bring its annual conference to Chicago, June 15-18. Tickets, including student and low-income options, are available at http://www.2016.writespeakcode.com. This event is open to all who identify as women. Childcare and Ramadan accommodations will be provided.

    %p
      By the end of this intensive 4-day conference, each attendee will possess and polish the skills to fully own their expertise as thought leaders, conference speakers, and open source contributors. This year's keynote speakers include: Trans*Code's Naomi Ceder,  Annyce Davis (Google Developer Expert), Julianna Rusakiewicz, Alex Qin, Fureigh (Code for America Fellow), and Open Source for Women's Coraline Ada Ehmke. The curriculum covers topics from giving and receiving feedback to self-care and connects each attendee to mentors in the areas of writing, speaking, and several languages of code.

    %p
      Of the conference, past attendee Jessica Forde said, "Write/Speak/Code was the most amazing professional development event I've been to as a technologist. Often, the events I've been to in technology have been focused on presenting people's work and not developing my own skills. Also, the women's events, while focused on skill building, were not targeted to my leadership development needs. Write/Speak/Code helped me identify ways I could become a more active member of the broader tech community and promote my own skill set."

    %p
      Write/Speak/Code was founded in 2013 by Rebecca Miller-Webster, Rachel Ober, Chrys Wu, Vanessa Hurst, and Celia La to address the misconceptions women hold around their own writing, speaking, and coding — I'm not an expert, What would I talk about?, Everyone already knows about that, etc.— and propel women to action in these areas. Write/Speak/Code is also dedicated to providing a harassment-free experience for everyone.

    %a.button{ href: '/2016Prospectus-Sponsorship.pdf' }
      Download Prospectus

    %h2
      Sponsor Write/Speak/Code 2016

    %p
      The Write/Speak/Code International Conference is the only event focused
      on increasing the visibility and leadership of women software engineers.

    %p
      Sponsoring Write/Speak/Code is the most effective way to recruit
      talented, driven women to fill key technical positions and demonstrate
      your commitment to developing the women developers in your organization.


    %a.button{ href: 'mailto:sponsor@writespeakcode.com' }
      Email us
