---
title: Tickets -- Write/Speak/Code 2016 International Conference Tickets
sub_page: true
---
%h3 Write/Speak/Code<br>International Conference for Women Software Developers<br>June 15 - 18, 2016  Chicago, IL
%div{:style => "width:100%; text-align:left;"}
  %iframe{:allowtransparency => "true", :frameborder => "0", :height => "628", :hspace => "0", :marginheight => "5", :marginwidth => "5", :scrolling => "no", :src => "//eventbrite.com/tickets-external?eid=21539808146&ref=etckt", :vspace => "0", :width => "100%", :seamless => "seamless"}

%h2 Hotel

%div.inner-content
  %p
    We have a room block at
    %a{ href: 'http://www.congressplazahotel.com'}
      The Congress Plaza Hotel
    with a nightly rate of $180. When you make the reservation,
    let them know that you are using the Write/Speak/Code room block. This
    special rate is only for a limited number of rooms
    and must be booked before May 15th.

    %p
      %strong Congress Plaza Hotel<br/>
      520 South Michigan Avenue<br/>
      Chicago, IL 60605<br/>
      800-635-1666<br/>
      312-427-3800

  %p
    If you run into trouble using the room rate, connect to extension 5025 or 5026
    to speak with someone who can help.
