---
title: Tickets -- Write/Speak/Code 2016 International Conference Tickets
short_name: tickets
layout: conference_layout
page_class: 'conference'
sub_page: true
---
%h3 Write/Speak/Code<br>International Conference for Women Software Developers<br>June 15 - 18, 2016  Chicago, IL
%div{:style => "width:100%; text-align:left;"}
  %iframe{:allowtransparency => "true", :frameborder => "0", :height => "628", :hspace => "0", :marginheight => "5", :marginwidth => "5", :scrolling => "no", :src => "//eventbrite.com/tickets-external?eid=21539808146&ref=etckt", :vspace => "0", :width => "100%", :seamless => "seamless"}
