%section.content
  %article
    %h1
      Write to change the world!
    %p
      %em Write Day
      is the foundation of Write/Speak/Code.
      Starting with the most common barrier to thought leadership, ourselves,
      we will tackle imposter syndrome and learn to own our expertise. By
      diving into your knowledge and experience, you will understand why
      your story is valuable to the world.
    %p
      %b Write
      a list of topics to write or speak about and an outline and draft of one topic.
      %br
      %b Craft
      a bio that best highlights your expertise — you are an expert.
    %h2
      Day 1 — Thursday, March 19, 2015
    .day_summaries.day_summaries--page
      .day
        .day__title
          Learn
        .day__icon
          %i.fa.fa-book
        .day__description
          %ul
            %li
              How to
              %b overcome imposter syndrome
              and rule the world
            %li
              The
              %b source of credibility
              and how to establish it
            %li
              Powerful
              %b brainstorming exercises
              \&amp; outlining techniques you can use again &amp; again
            %li
              %b Writing opportunities
              for developers &amp; the ins and outs of
              %b technical publishing
          %a.button{ href: "/schedule"}
            Schedule
            %i.fa.fa-angle-double-right
      .day
        .day__title
          Do
        .day__icon
          %i.fa.fa-list-ul
        .day__description
          %ul
            %li
              %b Craft a bio
              \&amp; deliver it with confidence
            %li
              Frame yourself as an
              %b expert
            %li
              Generate
              %b 20+ topics
              you can write or speak about
            %li
              %b Outline
              a topic with a number of reusable techniques
            %li
              Draft a
              %b blog post
              \&amp; get feedback from peers and mentors
          %a.button.inverted.notice.skinny{ href: "/speakers" }
            Speakers
            %i.fa.fa-angle-double-right
    %h2
      Solidify your expertise, Communicate effectively, Share knowledge

    %p
      Each day will be tailored to the experience and expertise of each attendee
      and will include:
    %ul
      %li
        Giving and receiving feedback from peers and experts
      %li
        Talks or panels from experienced women developers
      %li
        Group and individual workshops
      %li
        Creation of a usable prototype for the day's milestones
      %li
        A concrete, next-steps action plan
