.day_summaries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.day {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.day--4 {
  margin-top: 50px;
  width: 100%;
}

.day__title {
  display: block;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.day__icon {
  background-color: #352063;
  color: #fff;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  width: 150px;

  .fa {
    line-height: 150px;

    &::before {
      font-size: 100px;
    }
  }
}
