footer {
  margin: 0;
}

.coder-definition {
  background-color: $gold;
}

.coder-definition__copy {
  @include rwd-content;
  color: #111;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  padding: 20px;
}

.footer {
  background-color: $purple;
  color: $white;
  margin: 0 0 -20px 0;
}

.footer__list {
  @include rwd-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;

  @media screen and (min-width:640px) {
    flex-direction: row;
  }

  a {
    color: $gold;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      color: $white;
    }
  }

  ul,
  li {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.footer__item {
  display: inline-block;
  vertical-align: middle;
}

.footer__link {
  height: 48px;
  line-height: 48px;
}
