.speakers {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

.speaker {
  display: block;
  font-size: 12px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;

  @media screen and (min-width:640px) {
    display: inline-block;
    width: 48%;
  }
}

.speaker__headshot {
  img {
    width: 100%;
  }
}

.speaker__links {
  text-align: center;
}

.speaker__social {
  display: inline-block;
  padding: 10px;

  .fa::before {
    font-size: 32px;
    color: $purple;
  }
}
