.sponsor-level {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  @media screen and (min-width:900px) {
    flex-direction: row;
  }

}

.sponsor__info {
  color: $charcoal;
  display: inline-block;
  margin: 0;
  padding: 40px;
  width: 100%;

  @media screen and (min-width:900px) {
    width: 50%;
  }
}

.sponsor__logo {
  display: block;

  img {
    width: 100%;
  }
}
