.hero {
  $hero-color: white;

  background-color: $brand-accent-dark;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  padding-bottom: 2.9em;
   @include media($large-screen) { padding-bottom: 2.7em; }

  .hero-logo img {
    width: 50%
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;

    color: $hero-color;

    margin: auto;
    padding: 0em 1.5em;
    text-align: center;

    @include media($large-screen) {
      padding: 0em 3em;
    }

    h1, h2 {
      text-shadow: 1px 1px 2px $dark-gray;
      color: $white;
    }


    .hero-copy {
      text-align: center;

      p {
        font-weight: 200;
        line-height: 1.4em;

        margin: 1em auto;
        text-shadow: 1px 1px 1px $dark-gray;

        @include media($large-screen) {
          font-size: 1.4em;
          max-width: 80%;
        }
      }

     a:not(.button) {
       font-weight: 200;
        &, &:visited {
          color: $brand-primary;
        }

        &:hover {
          color: $brand-primary-dark;
        }
     }
    }

    button {
      @include button(flat, $base-accent-color);
      padding: 0.7em 1em;
    }
  }
}
