@import "buttons/extends";
@import "buttons/mixins";

.button {
  @extend %button;
  background-color: $gold;
  color: $white !important;
  display: block;
  width: 100%;

  &:hover {
    background-color: $red;
  }
}
