@import "forms/extends";
@import "forms/mixins";

input {
  border: none;
  color: $boulder;
  height: 48px;
  line-height: 48px;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  width: 100%;
}
