@import "typography/fonts";
@import "typography/functions";
@import "typography/extends";
@import "typography/mixins";

body {
  background-color: #fff;
  color: #111;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

strong {
  color: $gold;
  font-size: 1.75em;
  font-weight: bold;
}

h1 {
  color: $gold;
}

a {
  color: $purple;
  &:visited { color: $purple; }
  &:hover, &:focus { color: $red; }
}

.callout {
  color: $gold;
}
