%heading--1 {
  font-family: "Plantin", Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-weight: 700;
}

%heading--2 {
  font-family: "Plantin", Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-weight: 400;
}

%heading--3 {
  font-family: "PlantinW01-HeadlineLtCn", Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

%copy--body {
  font-family: "Basis Grotesque", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

%copy--bold {
  font-family: "Basis Grotesque", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
