---
title: Call for Proposals at Write/Speak/Code International Conference
layout: conference_layout
page_class: 'conference'
sub_page: true
---

%h1 Call for Proposals

%p
  Write/Speak/Code aims to empower women software developers become thought <br/>
  leaders, conference speakers, and open source contributors in their field of expertise.

%p
  If you are passionate to speak to women about your experiences as a thought leader <br/>
  in any or all of these topics, please send us your talk! We ask that the talk be <br/>
  language agnostic and be 45 minutes long.

%h3 Topics
%p
  Not sure what you would like to speak on? We’ve got plenty of ideas! <br/>
  Here are a few to get you started:

%p
  %ul
    %li
      %em Balancing your career with other obligations in your life, such as motherhood
    %li
      %em Diversity initiatives you’ve started in your place of work or community
    %li
      %em How you became a thought leader in your field of expertise

%p
  %strong You are welcome to propose more than one submission.

%h3 Speaker Support
%p
  Want help with your proposal? Email us at
  %a{ href: 'mailto:2016speakers@writespeakcode.com' }
    email 2016speakers@writespeakcode.com
  , we’d love to help you develop your idea.

%p
  All speakers will receive a free ticket to the conference and are free to <br/>
  participate in the conference in other ways (e.g. open source mentor, speaker mentor). <br/>
  Travel assistance may be available upon request.

%h3 Deadline
%p
  Submissions close on Saturday April 9th, 2016.

%p
  %a.button.primary{ href: 'https://docs.google.com/forms/d/1EJZRwAsJ744uEWv1hBY9PU4VDzi9ADGdKHZh2s8AQYo' }
    Submit a Proposal
