---
title: Nominate a Mentor, Panelist or Lightning Talk at Write/Speak/Code International Conference
layout: conference_layout
page_class: 'conference'
sub_page: true
---

%h1 Nominate a Mentor, Panelist or Lightning Talk

%div.inner-content
  %p
    Write/Speak/Code aims to empower women software developers become thought leaders,
    conference speakers, and open source contributors in their field of expertise.

  %p
    If you are passionate to speak to women about your experiences as a thought leader
    in any or all of these topics, we have multiple opportunities available including:

  %ul.bulleted
    %li Being a mentor for our speaking - As a mentor for our speaking day you will work with small groups of women, helping them practice take an idea into a lightning talk.

    %li Being a mentor for our open source code day - This may mean you have a particular project you've contributed to that you can help navigate participants through. This can also mean you often use open source software and may have specific skills that can help participants find a project to contribute to (e.g. you're a Rails web developer and can help participants with Rails specific questions).

    %li Being a panelist for the writing panel - If you've written for a technical author either as a published author or as a blogger, we're looking for you!

    %li Being a panelist for the conference organizer panel - We're looking for organizers of all backgrounds! Did you help with PyCon? Or maybe you helped start a conference? Perhaps you created a diversity initiative for a conference!

    %li Lightning talks for any of the three days! Lightning talks are 5 to 10 minutes long and can be technical or soft skills talks.

  %p As a panelist or mentor, you will get a ticket to the conference.

  %p
    You are welcome to nominate a person, including yourself, for more than one area
    but the committee may ask that you participate in specific functions.
    We are conscientious of diversity and are seeking women of all backgrounds for our conference.

  %p
    We will be contacting applicants once we have received your application
    and will be filling spots on a rolling basis. Any questions, please email
    %a{ href: 'mailto:2016speakers@writespeakcode.com'}
      2016speakers@writespeakcode.com

  %p.centered
    %a.button.primary{ href: 'https://docs.google.com/forms/d/1Eugp_iHCKvpRgh8ZuHS_3W__JKiHyUEWs_LkHxLLPeY', target: '_blank' }
      Submit a Nomination
