---
title: Tickets -- Write/Speak/Code 2016 International Conference Tickets
layout: conference_layout
page_class: 'conference'
sub_page: true
---
%h3 Write/Speak/Code<br>International Conference for Women Software Developers<br>June 15 - 18, 2016  Chicago, IL
%div{:style => "width:100%; text-align:left;"}
  %iframe{:allowtransparency => "true", :frameborder => "0", :height => "628", :hspace => "0", :marginheight => "5", :marginwidth => "5", :scrolling => "no", :src => "//eventbrite.com/tickets-external?eid=21539808146&ref=etckt", :vspace => "0", :width => "100%", :seamless => "seamless"}
  %div{:style => "font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;"}
    %a.powered-by-eb{:href => "http://www.eventbrite.com/r/etckt", :style => "color: #dddddd; text-decoration: none;", :target => "_blank"} Powered by Eventbrite
