.hero {
  $hero-color: white;
  $hero-image: "chicago3.jpg";

  margin-top: -100px;

  @include background(url(image_path($hero-image)), no-repeat $brand-accent-variation scroll);
  background-color: $brand-accent-variation;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  padding-bottom: 2.9em;
  @include media($large-screen) { padding-bottom: 2.7em; }

  .hero-logo img {
    width: 60%;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;

    max-width: 46em;

    color: $hero-color;
    background-color: $brand-primary;

    margin: auto;
    padding: 1.5em 1.5em 3em 1.5em;
    text-align: center;

    @include media($large-screen) {
      padding: 3em;
    }

    h1, h2 {
      text-shadow: 1px 1px 2px $dark-gray;
      color: $white;
    }


    .hero-copy {
      text-align: center;

      p {
        font-weight: 200;
        line-height: 1.4em;

        margin: 1em auto;
        text-shadow: 1px 1px 1px $dark-gray;

        @include media($large-screen) {
          font-size: 1.4em;
          max-width: 100%;
        }
      }

     a:not(.button) {
       font-weight: 200;
       @include colored-link($brand-accent-variation);
     }
    }

    button {
      @include button(flat, $base-accent-color);
      padding: 0.7em 1em;
    }
  }
}
