//
// Standardized abstract color objects.
//

//
// Color map
// Naming from Name That Color http://chir.ag/projects/name-that-color/
// ----------------------------------------------------------------------------

// Basic shades
$white:           #ffffff !default;
$black:           #000000 !default;

// Brand colors
$gold:            #eaac47;
$red:             #A22929;
$purple:          #352063;

// Grays
$charcoal:        #111111 !default;
$emperor:         #555555 !default;
$boulder:         #777777 !default;
$dusty-gray:      #999999 !default;
$silver:          #bbbbbb !default;
$alto:            #dddddd !default;
$gallery:         #eeeeee !default;
$alabaster:       #f6f6f6 !default;
